/*
1. IMPORTS
2. COLORS
2. TEXT
3. LAYOUT
4. BUTTONS
*/

/* -------------------------    GLOBAL    -------------------------- */

@font-face {
	font-family: 'Made Dillan';
	src: url('fonts/MADE Dillan.otf');
}

@font-face {
	font-family: 'Trap-Black';
	src: url('fonts/Trap-Black.otf');
}

@font-face {
	font-family: 'Trap-SemiBold';
	src: url('fonts/Trap-SemiBold.otf');
}

:root {
	--light-tan: #f6f5f3;
	--white: #ffffff;
	--tan: #f1ede6;
	--dark-grey: #1e1815;

	--light-yellow: #f4e7b5;
	--light-red: #f1c9c8;
	--light-blue: #d5e0f1;
	--light-green: #d2d9c3;
	--light-purple: #d9cedb;
	--light-orange: #efdccd;

	--yellow: #e7d477;
	--red: #db8280;
	--blue: #9fb5da;
	--green: #88946e;
	--purple: #a288a6;
	--orange: #dba780;

	--dark-yellow: #625205;
	--dark-red: #5e2b2a;
	--dark-blue: #2c3749;
	--dark-green: #3d4628;
	--dark-purple: #473649;
	--dark-orange: #633b1d;
}

/* html {
	height: 100%;
} */

* {
	margin: 0;
	font-family: 'Trap-SemiBold', sans-serif;
	/* transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; */
}

body {
	background-color: #ffffff;
	color: var(--dark-grey);
	background-color: var(--light-tan);
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Made Dillan', sans-serif;
	font-size: 5rem;
}

h2 {
	font-family: 'Made Dillan', sans-serif;
	font-size: 2rem;
}

h3 {
	font-family: 'Made Dillan', sans-serif;
	font-size: 1.5rem;

	color: var(--dark-grey);
}

p {
	font-size: 1.25rem;
	line-height: 1.525rem;
	color: var(--dark-grey);
}

a {
	text-decoration: none;
	color: var(--dark-grey);
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.icon-link {
	display: inline-flex;
	height: 34px;
	font-size: 16px;
	text-decoration: none;
	padding: 0 12px;
	border-radius: 8px;
	margin: 0 12px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.link-icon,
.link-text {
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 4px;
	color: var(--dark-grey);
}

.link-text {
	padding-top: 1px;
}

.icon-link:hover {
	background-color: var(--light-green);
}

.icon-link:hover .link-text {
	color: var(--dark-green);
}

.icon-link:hover .link-icon > path {
	stroke: var(--dark-green);
}

.btn-sm {
	font-size: 14.5px;
}

.btn-lg {
	font-size: 14.5px;
	color: var(--dark-grey);

	border-radius: 12px;
	background: none;
	border: var(--light-primary) 1px solid;

	display: flex;
	padding: 14px 48px;
	align-items: center;
	cursor: pointer;
}

.btn-lg img {
	margin-right: 8px;
}

.btn-lg:hover {
	border: var(--dark-grey) 1px solid;
}

.section-title {
	text-align: center;
	margin: 0px auto 32px;
	max-width: 80%;
}

.section-title img {
	width: 64px;
	margin-bottom: 10px;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* -----------------------------------------    MAIN NAV SECTION    -------------------------------------------- */

.logo {
	padding: 2rem;
	color: var(--dark-grey);
}

.primary-header {
	background-color: var(--tan);
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: var(--light-green) solid 1px;
	/* height: 10vh; */
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (max-width: 50em) {
	.primary-navigation {
		z-index: 1000;
		--gap: 6em;
		position: fixed;
		inset: 0 0 0 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/* padding: min(30vh, 10rem) 2em; */
		background: var(--tan);
		height: 94vh;
		top: 107px;
		transform: translateX(100%);
		transition: transform 350ms ease-in-out;
	}

	.primary-navigation[data-visible='true'] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background: url(img/icons/menu-lg.svg);
		background-repeat: no-repeat;
		width: 2.5rem;
		border: 0;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
	}

	.mobile-nav-toggle[aria-expanded='true'] {
		background-image: url('img/icons/x-lg.svg');
		position: fixed;
		overflow-y: hidden;
	}
}

@media screen and (max-width: 748px) {
	/* body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 90vh;
		top: 10vh;
		background-color: var(--tan);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		transform: translateX(100%);
		z-index: 1;
	}

	.nav-links li {
		opacity: 0;
		padding: 48px;
	}

	.burger {
		display: block;
		cursor: pointer;
	} */
}

.nav-active {
	transform: translateX(0%);
}

@keyframes nav-link-fade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line-1 {
	transform: rotate(-45deg) translate(-5px, 4.5px);
}
.toggle .line-2 {
	opacity: 0;
}
.toggle .line-3 {
	transform: rotate(45deg) translate(-5px, -4.5px);
}

/* -----------------------------------------    HERO SECTION    -------------------------------------------- */

.hero-section {
	background-color: #f1ede6;
	display: flex;
	padding-top: 100px;
	padding-bottom: 120px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name {
	font-size: 144px;
	background-image: url('img/needles.jpg');
	background-size: 500px;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.hero-blurb {
	margin: -12px auto 24px;
	max-width: 350px;
	text-align: center;
}

.profile-photo {
	width: 92px;
	height: 92px;
	border-radius: 50%;
	margin-bottom: -12px;
}

/* ---------------    FREELANCE WORK SECTION & PERSONAL PROJECTS SECTION   ------------------- */

.freelance-work-section {
	margin-top: -36px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	background-color: var(--light-tan);
	padding-top: 120px;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin: 0 20px;
}

/* @media (max-width: 50em) {
	.work-cards {
		grid-auto-flow: row;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
	}
} */

.card {
	background-color: var(--tan);
	padding: 24px 32px;
	border-radius: 24px;
	text-align: center;
	width: 60%;
	top: 0px;
	position: relative;
	overflow: hidden;
}

.card h3 {
	margin-top: 18px;
}

.card p {
	margin-top: 18px;
}

.card-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: 24px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.overlay-text {
	font-family: 'Trap-Black', sans-serif;
	font-size: 1.5rem;
	width: 60%;
}

.card-1 .card-overlay {
	background-color: var(--light-red);
	color: var(--dark-red);
}

.card-1:hover .card-overlay {
	top: 0%;
}

.card-2 .card-overlay {
	background-color: var(--light-blue);
	color: var(--dark-blue);
}

.card-2:hover .card-overlay {
	top: 0%;
}

.card-3 .card-overlay {
	background-color: var(--light-yellow);
	color: var(--dark-yellow);
}

.card-3:hover .card-overlay {
	top: 0%;
}

.card-4 .card-overlay {
	background-color: var(--light-orange);
	color: var(--dark-orange);
}

.card-4:hover .card-overlay {
	top: 0%;
}

.card-5 .card-overlay {
	background-color: var(--light-green);
	color: var(--dark-green);
}

.card-5:hover .card-overlay {
	top: 0%;
}

.card-6 .card-overlay {
	background-color: var(--light-purple);
	color: var(--dark-purple);
}

.card-6:hover .card-overlay {
	top: 0%;
}

@media screen and (min-width: 940px) {
	.card-container {
		justify-content: center;
		flex-direction: row;
	}

	.card {
		max-width: 260px;
	}
}

/* -----------------------------    CUSTOMER QUOTES SECTION    ----------------------------- */

.quotes-section {
	margin-top: 180px;
}

.quote-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.quote-card {
	background-color: var(--tan);
	border-radius: 24px;
	padding: 36px;
	width: 60%;
	text-align: center;
	border: var(--light-green) 1px solid;
	box-shadow: 0 4px 8px 0 rgba(46, 45, 65, 0.02);
}

.quote {
	font-size: 2rem;
	line-height: 2.5rem;
}

.customer {
	margin-top: 16px;
	font-size: 1rem;
}

@media screen and (min-width: 940px) {
	.quote-container {
		flex-direction: row;
	}

	.quote-card {
		max-width: 650px;
	}
}

/* -----------------------------    PERSONAL PROJECTS SECTION    ----------------------------- */

.personal-projects-section {
	margin-top: 180px;
	margin-bottom: 180px;
}

/* --------------------------------------------   FOOTER   --------------------------------------------- */

footer {
	margin-top: auto;
	padding: 60px 0;
	border-top: var(--light-green) solid 1px;
	background-color: var(--tan);
}

.footer-flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.footer-column {
	padding: 24px 36px;
}

.footer-column p {
	margin-top: 8px;
}

.footer-column ul {
	list-style: none;
	margin-top: 16px;
	padding: 0;
}

.footer-column li {
	padding: 8px 0;
}

.footer-column a {
	font-size: 1rem;
	text-decoration: none;
	color: var(--dark-grey);
}

.footer-column a:hover {
	color: var(--green);
}

.footer-copyright p {
	margin-top: 64px;
	text-align: center;
	font-size: 14px;
	color: var(--dark-grey);
}

@media screen and (min-width: 940px) {
	.footer-flex {
		flex-direction: row;
		align-items: flex-start;
		text-align: left;
		justify-content: space-evenly;
		width: 80%;
		margin: auto;
	}

	.footer-column {
		padding: 24px 24px;
	}

	.footer-column li {
		padding: 4px 0;
	}
}

/* --------------------------------   FILTERS   ---------------------------------- */

.page-filter {
	text-align: center;
	margin-top: 48px;
}

.page-filter p {
	margin-bottom: 8px;
	font-size: 1rem;
}

.filter-list {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	padding: 0;
	/* justify-content: space-evenly; */
}

.filter-option {
	margin: 0 8px;
	border-radius: 8px;
	padding: 9px 12px 8px;
	cursor: pointer;
	border: var(--light-green) solid 1px;
}

.filter-option:hover {
	color: var(--green);
}

.filter-active {
	color: var(--dark-green);
	background-color: var(--light-green);
}

/* --------------------------------   FREELANCE WORK PAGE  ---------------------------------- */

.page-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 110px 12px 24px;
	text-align: center;
	flex-direction: column;
	line-height: 5rem;
}

.page-title h1 {
	font-size: 4rem;
	line-height: 4rem;
}

.page-title-text {
	margin-top: 24px;
}

.page-title img {
	width: 64px;
	height: 64px;
	margin-right: 24px;
}

.case-study-list {
	margin: 80px auto 200px;
	/* width: 70%; */
}

.case-study-list ul {
	padding: 0;
	list-style: none;
}

.case-study.hide {
	display: none;
}

.case-study a {
	display: flex;
	flex-direction: column;
	background: var(--tan);
	padding: 36px 72px;
	border-radius: 24px;
	margin: 0 auto 24px;
	width: 60%;
	top: 0px;
	position: relative;
	overflow: hidden;
}

.case-study-title p {
	margin-top: 12px;
}

.case-study-logo {
	max-width: 200px;
	margin-bottom: 24px;
}

img.contain {
	object-fit: contain;
}

.case-study-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 100%;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 24px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.case-study-overlay {
	background-color: var(--light-green);
	color: var(--dark-green);
}

.case-study:hover .case-study-overlay {
	top: 0%;
}

@media screen and (max-width: 600px) {
	.page-title {
		margin-top: 48px;
	}

	.case-study {
		text-align: center;
		padding: 36px 36px;
		align-items: center;
	}
}

@media screen and (min-width: 1090px) {
	.case-study a {
		justify-content: space-between;
		flex-direction: row;
	}

	.case-study-overlay {
		transition: top 0.3.5s ease-in-out;
		-webkit-transition: top 0.3.5s ease-in-out;
		-moz-transition: top 0.3.5s ease-in-out;
	}

	.case-study-title {
		margin-right: 50px;
	}

	.case-study-logo {
		order: 1;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 900px) {
	.page-title {
		align-items: center;
		justify-content: center;
		margin: 110px 0 24px 0;
		flex-direction: row;
		text-align: left;
	}

	.page-title h1 {
		font-size: 5rem;
		line-height: 5rem;
	}

	.page-title-text {
		margin-top: 0;
	}
}

/* --------------------------------   CASE STUDY PAGE  ---------------------------------- */

.case-study-page-hero h1 {
	font-size: 4rem;
	line-height: 4rem;
	text-align: center;
	margin: 80px auto 48px;
	width: 90%;
}

.case-study-section h2 {
	margin-bottom: 24px;
}

.case-study-subtitle {
	text-align: center;
	max-width: 80%;
	margin: auto;
	padding: 0 5% 0;
}

.case-study-banner {
	object-fit: contain;
	min-height: 250px;
	width: 90%;
	margin: 12px auto 12px;
}

.case-study-brief {
	text-align: center;
	width: 85%;
	margin: auto;
	font-size: 1rem;
}

.case-study-section {
	margin-top: 80px;
	text-align: center;
}

.case-study-section ul {
	list-style: none;
	padding: 0;
	margin-top: 48px;
}

.case-study-section ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.case-study-section ul li p {
	margin-top: 24px;
	max-width: 60%;
}

.case-study-image {
	border-radius: 16px;
	border: var(--light-green) 1px solid;
	width: 100%;
	max-width: 400px;
}

.case-study-image-set p {
	font-size: 1rem;
}

.link-to-client-site {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 48px auto 80px;
}

.link-to-client-site img {
	width: 200px;
	margin-bottom: 24px;
}

.link-to-client-site a {
	font-size: 1.25rem;
}

@media screen and (min-width: 648px) {
	.case-study-subtitle {
		max-width: 700px;
	}

	.case-study-banner {
		max-height: 550px;
	}

	.case-study-brief {
		text-align: center;
		max-width: 550px;
		margin: auto;
	}

	.case-study-image-set {
		display: flex;
		justify-content: center;
	}

	.case-study-section ul {
		margin: 24px 5% 24px;
	}

	.case-study-section ul li {
		display: flex;
		flex-direction: row;
	}

	.case-study-section ul li p {
		text-align: left;
		margin-top: 0px;
		max-width: 350px;
		margin-left: 20px;
	}

	.link-to-client-site a:hover {
		color: var(--green);
	}
}
