:root {
  --basil-green-800: #41665A;
  --basil-green-500: #529372;
  --basil-green-100: #C1E2CB;
  --basil-paper: #FEFBE8;
  --basil-paper-95%: rgba(254, 251, 232, 0.95);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* body {
  margin: 0px 0px;
  padding: 0px 0px;

  background-image: url('needles-min-horizontal.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgba(254, 251, 232, 0.95);
} */
/* -------------- TEXT ----------------- */
h1 {
  margin: 0px 0px;
  font-family: 'Vollkorn', serif;
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
}

h3 {
  font-family: 'Vollkorn', serif;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.025rem;
}

h5 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1rem;
  margin: 0px 0px;
}

.subtitle {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.body-text {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05rem;
}

.caption {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.025rem;
}

.button-text {
  font-family: 'Vollkorn', serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.08rem;
  text-decoration: none;
}

/* -------------- BACKGROUND ----------------- */
.bg {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.bg::before {
  background-image: url('needles-1920x1281.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* opacity: 0.4; */
}

.bg::after {
background-color: var(--basil-paper);
content: "";
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.95;
}

@media (min-width: 320px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-460x305.jpg);
  }
}

@media (min-width: 460px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-720x477.jpg);
  }
}

@media (min-width: 720px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-980x649.jpg);
  }
}

@media (min-width: 980px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-1240x821.jpg);
  }
}

@media (min-width: 1240px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-1500x993.jpg);
  }
}

@media (min-width: 1500px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-1760x1166.jpg);
  }
}

@media (min-width: 1760px) {
  .hero::before {
    background-image: url(/img/background-1932466_1920-1920x1271.jpg);
  }
}

/* -------------- NAVIGATION ----------------- */
/* -------------- FILTERS ----------------- */
/* -------------- GALLERY ----------------- */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
