/* @font-face {
  font-family: "Vollkorn";
  src: url("vollkorn/vollkorn-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Vollkorn";
  src: url("vollkorn/vollkorn-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Vollkorn";
  src: url("vollkorn/vollkorn-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
} */

:root {
	--basil-green-800: #41665a;
	--basil-green-500: #529372;
	--basil-green-100: #c1e2cb;
	--basil-paper: #fefbe8;
	--basil-paper-95%: rgba(254, 251, 232, 0.95);
}

body {
	margin: 0px 0px;
	padding: 0px 0px;

	background-image: url("needles-1920x1281.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-color: #3f4a47;
}

/* -------------- COLUMNS ----------------- */
/* -------------- TEXT ----------------- */
h1 {
	margin: 0px 0px;
	font-family: "Vollkorn", serif;
	font-size: 96px;
	font-weight: 700;
}

h3 {
	font-family: "Vollkorn", serif;
	font-weight: 600;
	font-size: 34px;
	letter-spacing: 0.025rem;
}

h5 {
	font-family: "Vollkorn", serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.1rem;
	margin: 0px 0px;
}

.subtitle {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 2.5rem;
	letter-spacing: 0.1rem;
}

.body-text {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.05rem;
}

.caption {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.025rem;
}

.button-text {
	font-family: "Vollkorn", serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.08rem;
	text-decoration: none;
}

/* ------------- BODY --------------- */
/* main {
  height: 100vh;
}

.background-img {
  background-image: url('needles-min-horizontal.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-color: #3F4A47;
} */

/* ------------- HEADER--------------- */
.header-section {
	text-align: center;
	color: var(--basil-paper);
	padding: 40vh 0px;
}

.header-links {
	display: flex;
	justify-content: space-between;
	width: 230px;
	margin: 0px auto;
}

.header-links a {
	color: var(--basil-paper);
}

.header-links a:hover {
	color: var(--basil-green-100);
}

/* ------------- ABOUT --------------- */
.about-section {
	background-color: rgba(254, 251, 232, 0.95);
	color: var(--basil-green-800);
	width: 90%;
	margin: 0px auto;
}

.about-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 200px 25%;
}

.about-body {
	margin-right: 30px;
	min-width: 50%;
	/* background-color: red; */
}

.about-image img {
	margin-left: 30px;
	width: 300px;
}

/* ------------- PROJECTS --------------- */
.project-section {
	background-color: rgba(65, 102, 90, 0.95);
	color: var(--basil-paper);
	width: 75%;
	margin: 0px auto;
}

.project-container {
	padding: 75px 20% 150px 20%;
	margin-top: 90px;
}

.project-container span {
	display: block;
	width: 100px;
	background-color: var(--basil-green-100);
	height: 2px;
}

/* ------------- CONTACT --------------- */
.contact-section {
	background-color: rgba(254, 251, 232, 0.95);
	color: var(--basil-green-800);
	width: 90%;
	margin: 90px auto 0 auto;
}

.contact-container {
	padding: 200px 25%;
}

.contact-flex {
	display: flex;
	align-items: flex-end;
}

.contact-body {
	margin-right: 30px;
	min-width: 50%;
	/* background-color: red; */
}

.contact-links {
	margin-left: 30px;
	padding: 20px 0px;
	width: 300px;
	/* background-color: blue; */
}

/* ------------- FOOTER --------------- */
.footer-section {
	text-align: center;
	color: var(--basil-paper);
	margin-top: 30px;
	padding-bottom: 30px;
}

.footer-section p {
	margin: 0px;
}

/* ------------- COMPONENTS --------------- */
.btn-1 {
	color: var(--basil-green-800);
	background: transparent;
	border: 1px solid var(--basil-green-800);
	display: inline-block;
	width: 225px;
	text-align: center;
	line-height: 60px;
	margin-top: 10px;
}

.btn-1:hover {
	background: var(--basil-green-800);
	color: var(--basil-paper);
}

.project-labels {
	display: flex;
	justify-content: flex-start;
}

.label {
	margin-right: 14px;
	color: var(--basil-paper);
	background: transparent;
	display: inline-block;
	text-align: center;
	border: 1px solid var(--basil-paper);
	text-decoration: none;
	padding: 10px 26px;
}

.label:hover {
	background: var(--basil-paper);
	color: var(--basil-green-800);
}

.btn-2 {
	display: inline-block;
	background-color: var(--basil-paper);
	border: none;
	color: var(--basil-green-800);
	text-align: center;
	padding: 38px 0px 32px 0px;
	width: 275px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	vertical-align: middle;
	float: right;
}

.btn-2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn-2 span:after {
	content: url(arrow-forward.svg);
	position: absolute;
	opacity: 0;
	top: 0;
	right: -30px;
	transition: 0.5s;
}

.btn-2:hover span {
	padding-right: 30px;
}

.btn-2:hover span:after {
	opacity: 1;
	right: 0;
}

/* ------------- ADJUSTMENTS --------------- */
.pull-up {
	margin-top: -120px;
	margin-right: -50px;
}
